python3.7
numpy
pandas
random
matplotlib
train_test_split
seaborn
StandardScaler
svm
datasets
LinearDiscriminantAnalysis
QuadraticDiscriminantAnalysis
GaussianNB
PCA
mode
cross_val_score
StackingClassifier
LogisticRegression
KFold
asarray
MinMaxScaler
plot_roc_curve
confusion_matrix
classification_report
pp_matrix_from_data
plot_confusion_matrix

